.project-container {
    margin: 0 5rem;
  
   
}
.app-div {
    border: solid black 1px;
    margin: 1rem;
    padding: 1rem;
    background-color: rgba(218, 205, 205, 0.63);
    color: black;
    position:relative;
   
}

.projectLink {
    color: black;
}

.projectLink:hover {
    color: rgb(70, 69, 69);
}
.extLink {
    color: white;
}
.extLink:hover {
    color: black;
}

.project-p {
    margin-left: 1rem;
}


