.projectcard {
    border: solid black 1px;
    margin: 1rem;
    padding: 1rem;
    background-color: rgba(218, 205, 205, 0.63);
    color: black;
    position: absolute;
}

.project-image {
    width: 45vh;
    margin: 20px;
    position: relative;
}