.cv {
  width: 70vh;
  margin: 2rem;
  box-shadow: 0 0 3px;
}

/* .download-cv {
  text-align: center;
}

button {
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 1rem;
  background-color: rgb(192, 192, 192);
  padding: 3px 6px;
} */
/* 
button:hover {
  background: rgb(150, 149, 149);
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.download-icon {
  margin-left: 5px;
  color: rgb(128, 6, 2);
} */
/* 
@media screen and (max-width: 823px) {
  .cv {
    width: 40%;
  }
}
@media screen and (max-width: 414px) {
  .cv {
    width: 80%;
  }
} */
