.active {
  font-weight: bold;
  text-decoration: underline;
}

.header {
  background-color: rgb(201, 251, 222);
}

.navIcon {
  color: black;
  margin-right: 8px;
}

.root {
  /*   margin: 2rem; */
  padding: 2rem;
  height: 100vh;
}

.navigation {
  color: rgb(25, 0, 66);
  text-decoration: none;
}
