.active {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

.navIcon {
  color: black;
  margin-right: 8px;
}

.root {
  /*   margin: 2rem; */
  height: 100vh;
}

.navigation {
  color: rgb(25, 0, 66);
  text-decoration: none;
}
